<!-- Main CSS--> <!--  <link rel="stylesheet" href="/css/form-elements.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> --> <!-- TINY MCE EDITOR --> <!-- Cool admin dashboard --> <!-- Fontfaces CSS--> <!-- Vendor CSS--> <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryyui/1.12.1/jquery-ui.js"> --><!-- Main CSS--> <!--  <link rel="stylesheet" href="/css/form-elements.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> --> <!-- TINY MCE EDITOR --> <!-- Cool admin dashboard --> <!-- Fontfaces CSS--> <!-- Vendor CSS--> <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryyui/1.12.1/jquery-ui.js"> --> <!-- TINY MCE SCRIPT --><!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/css/grapes.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/grapes.min.js"></script> --> <!-- TINY MCE EDITOR --> <!-- Cool admin dashboard --> <!-- Fontfaces CSS--> <!-- Vendor CSS--> <!-- Main CSS--> <!-- TINY MCE SCRIPT --><!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/css/grapes.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/grapes.min.js"></script> --> <!-- TINY MCE EDITOR --> <!-- Cool admin dashboard --> <!-- Fontfaces CSS--> <!-- Vendor CSS--> <!-- Main CSS--> <!-- TINY MCE SCRIPT --><!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/css/grapes.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.12.17/grapes.min.js"></script> --> <!-- TINY MCE EDITOR --> <!-- Cool admin dashboard --> <!-- Fontfaces CSS--> <!-- Vendor CSS--> <!-- Main CSS--> <!-- TINY MCE SCRIPT -->
<div id="cont">
<div class="row">
<div class="row  text-center">
<div>
<div class="col-sm-5"><a class="col-sm-4 mceNonEditable"> <br /><img id="img" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto;" src="../../img/logo.svg" alt="" /> </a></div>
</div>
</div>
</div>
<div class="row text-center">
<div class="col-sm-4">
<h1 id="java_welcome" class="text-center" style="text-align: center;">Karibu Java</h1>
</div>
<div class="col-sm-4">&nbsp;</div>
</div>
<div class="row text-center" style="margin-top: 0;">
<div class="col-sm-4">&nbsp;</div>
<div class="col-sm-4">
<p id="text" class="text-center" style="text-align: justify;">Please enter your mobile number below and enjoy our free complimentary wifi<br /><br /></p>
</div>
<div class="col-sm-4">&nbsp;</div>
</div>
<div class="row img-responsive">
<div class="col-sm-2">&nbsp;</div>
<div class="col-sm-8">
<div class="text-center"><form class="form col-md-12 center-block" action="/auth/java/sms" method="post">
<div class="form-group mceNonEditable"><input id="java-input" class="input-lg" name="mobileNumber" required="" type="text" placeholder="Mobile Number" /></div>
<div class="form-group mceNonEditable"><button class="btn btn-success btn-lg">Connect</button></div>
<div class="form-group">
<p id="disclaimer" style="font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;">By clicking connect above, you agree to our <a style="color: #26a69a;" href="../../termsJava">terms of service</a></p>
</div>
<div class="form-group">
<p id="disclaimer" style="color: black; font-weight: bold;">JAVA HOUSE 2018</p>
</div>
</form></div>
</div>
<div class="col-sm-2">&nbsp;</div>
</div>
</div>