<div class="header row"><div><h1>Welcome to Kahawa</h1><div><img src="http://demo.brandfi.co.ke:8181/uploads/636c4c5e53073949487b9e7df887a25c3b73e567.png" style="width: 226px;" class="fr-fic fr-dib"></div><p><br></p><p>Please enjoy our complimentary WiFi and a Cappucino!</p></div></div>
<div class="header row"><div><h1>Welcome to Java</h1><div><img src="http://127.0.0.1:8181/uploads/930885d33f06768754fff8c6859d921438cf2c78.png" style="width: 300px;" class="fr-fic fr-dib"></div><p>Please enjoy our complimentary WiFi and a Cappucino!</p></div></div>

