<footer>
    <div class="nav navbdivar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text"><a href="" class="navbar-link">Brand-fi Beta</a> &copy; 2018</p>
            </div>
        </div>
    </div>
</footer>
