<html>
{{>head}}

<body>
    <header>
        <nav class="nav navbar-inverse navbar-fixed-top" style="background-color: #26a69a;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <b class='navbar-brand' style="color: white;">Brand-fi Beta</b>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p style="color: white;">Sign in</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p style="color: white;">Sign up</p>
                            </a>
                        </li>
                        <li>
                            <a target='_blank' href="http://youtube.com/AccessManager" class="navbar-link">
                            <i  class="fa fa-youtube"></i>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br> {{{ body }}}
            </div>
        </div>
    </div>
    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>
    <!-- Initialize the editor. -->
    <script>
    $(function() {
        $('#myEditor').froalaEditor({
            imageUploadURL: 'image_upload',
            imageUploadParams: {
                id: 'myEditor'
            },
            height: '300px',
            imageAllowedTypes: ['jpeg', 'jpg', 'png'],
            imageUploadMethod: 'POST'
        })

    });
    </script>
</body>
{{>footer}}

</html>