<style>
#break{
    display: none;
}
@media only screen and (max-width: 700px) {

    #break {
        display: unset;
    }
}
</style>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <img style="padding-left: 90px;" src="/img/Java-House.jpg" alt="" class="img-responsive">
        <br>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="col-sm-3"></div>
<div class="col-sm-6" class="img-responsive">
    <div id="content" style="background-color: hsla(0, 100%, 100%, 0.6);">
        <br>
        <h6 class="text-center" style="font-weight: bold;">Jambo, enjoy our free complimetary wifi, to continue choose a signin method below</h6>
        <div id="container" style="background-color: hsla(0, 100%, 100%, 0.6);">
            <div class="row">
                <div class="col-sm-3"></div>
                <div id="continue" class="row col-sm-6">
                    <br>
                    <div class="col-sm-6">
                        <a href="/auth/facebook" class="btn btn-primary" style="margin-right: 10px;"><span class="fa fa-facebook "></span> Facebook</a>
                    </div><br id="break">
                    <div class="col-sm-6">
                        <a href="/auth/twitter" class="btn btn-info" style=""><span class="fa fa-twitter "></span> Twitter</a>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row">
                <p>Powered by <a href="http://brandfi.co.ke" target="_blank" style="text-decoration: none;  color: #26a69a;">BRAND-fi</a></p>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="col-sm-3 "></div>