<body class="animsition">
    <div class="page-wrapper">

        <body class="animsition">
            <div class="page-wrapper">
                <!-- MENU SIDEBAR-->
                <aside class="menu-sidebar d-none d-lg-block" style="color: white;">
                    <div class="logo">
                        <a href="#">
                    <img src="/img/BRANDfii.png"  class="img-responsive img-cir" alt="BrandFi" />
                </a>
                    </div>
                    <div class="menu-sidebar__content js-scrollbar1">
                        <nav class="navbar-sidebar">
                            <ul class="list-unstyled navbar__list">
                                <li class=" has-sub ">
                                    <a class="js-arrow" style="text-decoration: none; color: white;" href="/client/dashboard" >
                                <i class="fas fa-tachometer-alt"></i><span >Dashboard</span></a>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" style="text-decoration: none; color: white;" href="/client/allusers">
                                    <i class="fas fa-user"></i>Users</a>

                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" style="text-decoration: none; color: white;" href="/client/splash-pages">
                                <i class="fas fa-sliders-h"></i>Splash Pages</a>
                                </li>
                                <li>
                                    <a href="#" style="text-decoration: none; color: white;">
                                <i class="fas fa-table"></i>Analytics</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
                <!-- END MENU SIDEBAR-->
                <!-- PAGE CONTAINER-->
                <div class="page-container">
                    <!-- MAIN CONTENT-->
                    <div class="main-content" style="padding-left: 100px;">
                        <div class="section__content section__content--p30">
                            <!-- Hidden div for uploading logo -->
                            <div class="row" id="img_uploader" style="border-width: 3px; border-style: dotted; border-color: green;"><br>
                                <div class="col-sm-4"></div>
                                <form class="col-sm-4" method="POST" action="/logo/upload" enctype="multipart/form-data">
                                    <input type="file" class="btn btn-primary btn-lg" name="logo" required><br>
                                    <input type="submit" class="btn btn-primary" value="Upload">
                                </form>
                                <div class="col-sm-4"></div><br>
                            </div>
                            <div class="row" style="padding-left: 300px;" id="credentials"><br>
                                <!-- <div class="col-sm-2"></div> -->
                                <h5>In order to use your social media accounts with your splash page, Enter your apps credentials below </h5><br>
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- Nav tabs -->
                                                <div class="card">
                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Facebook credentials</a></li>
                                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Twitter credentials</a></li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active text-center" id="home">
                                                            <form id="fbform" action="/facebook/credentials" method="post">
                                                                <div class="form-group">
                                                                    <input class="cred-input" type="text" name="fbClientId" placeholder="Client ID" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="cred-input" type="text" name="fbClientSecret" placeholder="Client Secret" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <i class="fas fa-spinner fa-spin" id="spin" style="display: none"></i>
                                                                    <button id="submitfb" class="btn btn-primary" type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane text-center" id="profile">
                                                            <form id="twitterform" action="/twitter/credentials" method="post">
                                                                <div class="form-group">
                                                                    <input class="cred-input" type="text" name="ConsumerId" placeholder="Consumer key" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="cred-input" type="text" name="ConsumerSecret" placeholder="Consumer Secret" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <i class="fas fa-spinner fa-spin" id="spin" style="display: none"></i>
                                                                    <button id="submittwitter" class="btn btn-primary" type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="text-center">We keep your credentials safe</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid" id="dashboard_home">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1"> Dashboard Overview</h2>
                                    </div><br>
                                    <h5 style="color: #26a69a;">Welcome!! We created a few quick links for you</h5><br>
                                </div>
                                <div class="row">
                                    <div style="max-height: 200px;">
                                        <div class="au-card recent-report row">
                                            <div class="">
                                                <a href="#" id="set_credentials"><p style="text-decoration: underline;">Social media credentials</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 style="color: #26a69a;"> In a nut shell</h5>
                                <div class="row m-t-25">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c1">
                                            <div class="overview__inner text-center">
                                                <div class="overview-box clearfix text-center homestat">
                                                    <div class="icon text-center">
                                                        <i class="fas fa-mobile"></i><br><br>
                                                    </div>
                                                    <div class="text text-center">
                                                        <h2>80</h2>
                                                        <span>mobile numbers today</span>
                                                    </div>
                                                </div>
                                                <div class="overview-chart">
                                                    <canvas id="widgetChart1"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c2">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix text-center homestat">
                                                    <div class="icon text-center">
                                                        <i class="fab fa-facebook-f"></i><br><br>
                                                    </div>
                                                    <div class="text">
                                                        <h2>100</h2>
                                                        <span>users connected today</span>
                                                    </div>
                                                </div>
                                                <div class="overview-chart">
                                                    <canvas id="widgetChart2"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c3">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix homestat text-center">
                                                    <div class="icon">
                                                        <i class="fas fa-wifi"></i><br><br>
                                                    </div>
                                                    <div class="text">
                                                        <h2>2000</h2>
                                                        <span>Total connections</span>
                                                    </div>
                                                </div>
                                                <div class="overview-chart">
                                                    <canvas id="widgetChart3"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="overview-item overview-item--c4">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix homestat text-center">
                                                    <div class="icon">
                                                        <i class="fas fa-user-friends"></i><br><br>
                                                    </div>
                                                    <div class="text">
                                                        <h2>1000</h2>
                                                        <span>Return customers</span>
                                                    </div>
                                                </div>
                                                <div class="overview-chart">
                                                    <canvas id="widgetChart4"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="copyright">
                                            <p>Copyright © 2018 BRANDfi. All rights reserved.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MAIN CONTENT-->
                    <!-- END PAGE CONTAINER-->
                </div>
            </div>
            <script>
            // show image uploader on clicking link
            $('#upload_logo').click(function(argument) {
                $('#dashboard_home').hide();
                $('#img_uploader').show();
            })

            $('#set_credentials').click(function(argument) {
                $('#dashboard_home').hide();
                $('#credentials').show();
            })

            $(document).ready(function() {
                $('#img_uploader').hide();
                $('#credentials').hide();
            })

            // save fb credentials without reloading
            $("#submitfb").click(function() {
                $('#submitfb').hide();
                $('#spin').show();
                var url = "/facebook/credentials"; // the script where you handle the form input.

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#fbform").serialize(), // serializes the form's elements.
                    success: function(data) {
                        $('#submitfb').show();
                        $('#spin').hide();
                        alert('Credentials saved successfully'); // show response from the php script.
                    }
                });

                return false; // avoid to execute the actual submit of the form.
            });

            // save twitter credentials without reloading
            $("#submittwitter").click(function() {
                $('#submitwitter').hide();
                $('#spin').show();
                var url = "/twitter/credentials"; // the script where you handle the form input.

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#twitterform").serialize(), // serializes the form's elements.
                    success: function(data) {
                        $('#submittwitter').show();
                        $('#spin').hide();
                        alert('Credentials saved successfully'); // show response from the php script.
                    }
                });

                return false; // avoid to execute the actual submit of the form.
            });


            // upload logo
            function readURL(input) {
                if (input.files && input.files[0]) {

                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('.image-upload-wrap').hide();

                        $('.file-upload-image').attr('src', e.target.result);
                        $('.file-upload-content').show();

                        $('.image-title').html(input.files[0].name);
                    };

                    reader.readAsDataURL(input.files[0]);

                } else {
                    removeUpload();
                }
            }

            function removeUpload() {
                $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                $('.file-upload-content').hide();
                $('.image-upload-wrap').show();
            }
            $('.image-upload-wrap').bind('dragover', function() {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function() {
                $('.image-upload-wrap').removeClass('image-dropping');
            });
            </script>
            <!-- Jquery JS-->
            <script src="/vendor/jquery-3.2.1.min.js"></script>
            <!-- Bootstrap JS-->
            <!-- <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script> -->
            <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
            <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
            <!-- Vendor JS       -->
            <script src="/vendor/slick/slick.min.js">
            </script>
            <script src="/vendor/wow/wow.min.js"></script>
            <script src="/vendor/animsition/animsition.min.js"></script>
            <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
            </script>
            <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
            <script src="/vendor/counter-up/jquery.counterup.min.js">
            </script>
            <script src="/vendor/circle-progress/circle-progress.min.js"></script>
            <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
            <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
            <script src="/vendor/select2/select2.min.js">
            </script>
            <!-- Main JS-->
            <script src="/js/main.js"></script>
        </body>

        </html>
        <!-- end document-->