<style>
    @media only screen and (max-width: 600px) {

    #img {
        padding-left: 100px;
    }
    #logodiv{
        margin-top: -30px;
    }
    #conf{
        margin-top: -30px;
    }
    #text{
        margin-top: -30px;
    }
}

</style>
<div>
    <div class="row" id="logodiv">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 row text-center">
            <div class="col-sm-4"></div>
            <a class=" col-sm-4" href="#">
                    <br>
                    <img id="img" src="/img/logos/taylorgreyLogo.png" class="img-responsive" alt="">
                </a>
            <div class="col-sm-4"></div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div id="conf" class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="text-center" style="font-family: 'Pattaya', sans-serif; font-size: 2em;">Confirm mobile number</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row text-center" id="text">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p class="text-center" style="font-family: 'Pattaya', sans-serif;">Enter PIN received on your phone to continue</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div style="margin-left: 0px;" class="row img-responsive">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="content" class="text-center" style="background-color: hsla(120, 60%, 70%, 0.2); min-height: 150px;">
                <br>
                <form action="{{login_url}}" method="post" id="form" class="form col-md-12 center-block">
                    <input type="hidden" name="success_url" value="{{success_url}}">
                    <input type="hidden" name="username" value="{{mobileNumber}}">
                    <span id="span" class="text-danger"></span>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" id="code" name="password" placeholder="Enter PIN" required>
                        <i class="icon-user icon-large"></i>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Continue</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div><br>
    <!-- <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a href=""><img class="img-responsive" src="/img/kq.jpg" alt="Advertisement"></a>
        </div>
        <div class="col-sm-2"></div>
    </div><br> -->
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 row text-center">
            <p>Powered by <span><a href="/https://www.brandfi.co.ke" style="color: #26a69a; text-decoration: none;">BRANDfi</a></span></p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<script>
$("#form").submit(function(event) {
    var c = $("#code").val();
    if (c === "{{smsConfirmationCode}}") {
        return;
    }else{
        $("#span").text("You have entered a wrong code").show();
    }
    event.preventDefault();
});
$(function() {
    $('body').css({ "background-image": 'none', "background-color": "white", });
});
</script>