<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/code_view.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/image.css">

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block" style="color: white;">
            <div class="logo">
                <a href="#">
                    <img src="/img/BRANDfii.png"  class="img-responsive img-cir" alt="BrandFi" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class=" has-sub ">
                            <a class="js-arrow" style="text-decoration: none; color: white;" href="/client/dashboard" >
                                <i class="fas fa-tachometer-alt"></i><span >Dashboard</span></a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" style="text-decoration: none; color: white;" href="/client/allusers">
                                <i class="fas fa-user"></i>Users</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" style="text-decoration: none; color: white;" href="/client/customize/mobile">
                                <i class="fas fa-sliders-h"></i>Splash Pages</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none; color: white;">
                                <i class="fas fa-table"></i>Analytics</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            <div class="main-content row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                        <textarea id="froala-editor" >{{editor_content}}</textarea><br>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
    </div>
</body>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
</script>
<!-- Jquery JS-->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/vendor/slick/slick.min.js">
</script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/animsition/animsition.min.js"></script>
<script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/vendor/select2/select2.min.js">
</script>
<!-- Main JS-->
<script src="/js/main.js"></script>
<!-- end document-->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- Froala scripts -->
<!-- Include external JS libs. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.pkgd.min.js"></script>
<!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/code_view.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/image.min.js"></script>
<script type="text/javascript" src="/js/froala/fdk.min.js"></script>
<!-- Initialize the editor. -->
<script>
$(function() {
    $('textarea#froala-editor')
        .froalaEditor({
            autofocus: true,
            charCounterCount: false,
            colorsDefaultTab: 'background',
            dragInline: false,
            imageUploadParams: { class: 'logo' },
            imageMaxSize: 1024 * 1024 * 1,
            imageUploadURL: '/logo/upload',
            paragraphStyles: {
                'java_welcome': 'Java Welcome',
                'fr-text-gray': 'Gray',
                'fr-text-bordered': 'Bordered',
                'fr-text-spaced': 'Spaced',
                'fr-text-uppercase': 'Uppercase'
            },
            codeViewKeepActiveButtons: [],
            toolbarBottom: true,
            inlineMode: false,
            saveInterval: 2500,
            saveMethod: 'POST',
            saveParam: 'content',
            saveURL: '/client/customize/mobile',
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'fontFamily', 'fontSize', 'color', 'inlineClass', 'inlineStyle', 'paragraphStyle', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', '|', 'fontAwesome', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', '|', 'undo', 'redo', 'save'],
        })
    
});
</script>