<nav class="nav navbar-inverse navbar-fixed-top" style="background-color: #26a69a;">
    <div class="container-fluid"><br>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <b class='navbar-brand' style="color: white;">Brand-fi Beta</b>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/client/signup"><button class="btn btn-primary">Get started</button></a>
                </li>
                <li>
                    <a href="/client/login"><p style="color: white;">Login</p></a>
                </li>
            </ul>
        </div>
    </div>
</nav><br><br>