<div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
   		<a href="/customizepage" style="color: green;">Customize splash page</a>
   </div>
   <div class="col-sm-4"></div>
</div>
