<div>
    <form action="/custompage" method="POST">
        <button type="Submit" class="btn btn-success">Save</button><br><br>
        <textarea  name="editor_content" style="min-height: 500px;" id="myEditor"></textarea><br>
        <button type="Submit" class="btn btn-success">Save</button><br><br><br>
    </form>
</div>
