<!-- <!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head> -->
<!-- <body> -->
<!-- <div style="min-height: 100px;" class="img-responsive">
   
</div> -->
<div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img style="padding-left: 100px;" class="img-responsive" src="/img/Java-House.jpg" alt="" class="img-responsive">
            <br>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" class="img-responsive">
            <div id="" style="background-color: hsla(0, 100%, 100%, 0.6);">
                <br>
                <h1 style=" font-weight: bold;">PREMIUM WI-FI</h1>
                <div class="row img-responsive">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <img class="img-responsive" src="/img/mpesa.gif" alt="">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <p>Please enter your details below</p>
                <div id="container" style="background-color: hsla(0, 100%, 100%, 0.6);">
                    <br>
                    <br>
                    <form action="/premium" method="post" class="form col-md-12 center-block">
                        <div class="form-group ">
                            <input class="form-control input-lg" type="text" name="fname" placeholder="First name" required>
                            <i class="icon-user icon-large"></i>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="text" name="lname" placeholder="Last name" required>
                            <i class="icon-lock icon-large"></i>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" type="text" name="uname" placeholder="Mpesa number" title="Format: 07XXXXXXXX" required>
                            <i class="icon-lock icon-large"></i>
                        </div>
                        <div class="form-group">
                            <select name="plan" class="form-control input-lg" required>
                                <option value="" disabled selected>Choose a plan</option>
                                <option value="20">1 hour - Kshs 20</option>
                                <option value="150">8 hours - Kshs 150</option>
                                <option value="400">24 hours - Kshs 400</option>
                            </select>
                            <i class="icon-lock icon-large"></i>
                        </div>
                        <div>
                            <span>Click proceed and finish the transaction on your phone</span><br>
                            <br>
                        </div>
                        <div class="form-group ">
                            <button class="btn btn-primary btn-lg btn-block">Proceed to pay</button>
                        </div>
                    </form>
                    <div>
                        <span><input style="border-color: green; border-width: 2px;" type="checkbox"> Please confirm you agree to the <span><a href="/terms" style="color: #26a69a;">terms and conditions</a></span></span>
                        <br>
                        <br>
                    </div><br><br>
                </div>
                <!-- <br> -->
            </div>
            <br>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>

</html>