<div style="min-height: 100px;"></div>
<div class="col-sm-3"></div>
<div class="col-sm-6" class="img-responsive">
    <div id="content" style="background-color: hsla(0, 100%, 100%, 0.6);">
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="/img/Java-House.jpg" alt="" class="img-responsive">
                <br>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div id="" >
            <br>
            <p class="text-success">You have logged in successfully!!!</p>
            <p>Give us a like below and click continue</p>
            <br>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fweb.facebook.com%2Fbrandfi&width=150px&layout=button&action=like&size=large&show_faces=true&share=true&height=65&appId" width="150px" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            <br>  
            <a href="{{user_continue_url}}"><button class="btn btn-secondary">Continue</button></a>
           
            <br><br>  
            <p>Powered by <a href="http://brandfi.co.ke" target="_blank" style="text-decoration: none;  color: #26a69a;">BRAND-fi</a></p>
        </div>
        <br>
    </div>
    <div class="col-sm-3 "></div>

<!-- <div id="content">
    <div id="container">
        <div class="header">
            <div id="icon_cell">
                <h1>Success!</h1>
                <p>
                    Continue on to
                    <br>
                    <a href={{continue_url}}>{{continue_url}}</a>
                </p>
            </div>
        </div>
        <div id="icon_cell">
            {{#if logout_url_continue}}
            <h1><a style="color: green; text-decoration: none;" href={{logout_url_continue}}>LOGOUT</a></h1> {{/if}}
        </div>
        <p>
            Brought to you by <a href="http://brandfi.co.ke" target="blank" style="color: #26a69a;">BRAND-fi</a>
        </p>
    </div>
</div> -->