<style>
    @media only screen and (max-width: 600px) {

    /*#img {
        padding-left: 100px;
    }*/
     #cont {
        padding-left: 100px;
    }
}
</style>
<div class="row">
    <div class="col-sm-5"></div>
    <a class=" col-sm-4" href="#">
                    <br>
                    <img id="img" src="/img/logos/taylorgreyLogo.png" class="img-responsive" alt="">
                </a>
    <div class="col-sm-3"></div>
</div>
<div class="row" id="cont">
    <div class="col-sm-5"></div>
    <div id="continue" class="row col-sm-4">
        <br>
        <h4 class="text-success" style="font-family: 'Pattaya', sans-serif;">Connection successfull!!</h4>
        <p>Give us a like on facebook</p>
        <br>
        <iframe id="like" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fweb.facebook.com%2Fbrandfi&width=150px&layout=button&action=like&size=large&show_faces=true&share=true&height=65&appId" width="150px" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        <br>
        <a href="{{user_continue_url}}">
        	<button id="continue" class="btn btn-success btn-lg">Continue browsing</button>
        </a>
    </div>
    <div class="col-sm-3"></div>
</div>