<style>
#container1 {
    margin-bottom: 120px;
    padding: 20px;
    background-color: #f5f5f5;
}

.rating {
    margin-left: 30px;
}

div.skill {
    background: #5cb85c;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 3px 4px;
    width: 70px;    
}

.skillLine {
    display: inline-block;
    width: 100%;
    min-height: 90px;
    padding: 3px 4px;
}

skillLineDefault {
    padding: 3px 4px;
}
</style>
<div class="col-sm-3"></div>
<div class="col-sm-6" class="img-responsive">
    <div id="content" style="background-color: hsla(0, 100%, 100%, 0.6);">
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="/img/Java-House.jpg" alt="" class="img-responsive">
                <br>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div id="">
            <br>
            <p class="text-success">You have logged in successfully!!!</p>
            
            <br>
            <div class="container">
                <div >
                    <p>How did you like our service?</p>
                    <div class="rating" id="rate1"></div>
                </div>
            </div>
            <br>
            <a href="{{user_continue_url}}">
                <button class="btn btn-secondary">Continue</button>
            </a>
            <br>
            <br>
            <p>Powered by <a href="http://brandfi.co.ke" target="_blank" style="text-decoration: none;  color: #26a69a;">BRAND-fi</a></p>
        </div>
        <br>
    </div>
    <div class="col-sm-3 "></div>
    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript">
    initializeRatings();

    function initializeRatings() {
        $('#rate1').shieldRating({
            max: 5,
            step: 1,
            value: 0,
            markPreset: false
        });
    }
    </script>