
<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <h1>Success!</h1>
        <p>
          Continue on to
          <br>
          <a href={{continue_url}}>{{continue_url}}</a>
        </p>
      </div>

    </div>



      <div id="icon_cell">
        {{#if logout_url_continue}}
          <h1><a style="color: green; text-decoration: none;" href={{logout_url_continue}}>LOGOUT</a></h1>
        {{/if}}
      </div>
      <p>
        Brought to you by <a href="http://brandfi.co.ke" target="blank">BRAND-fi</a>
      </p>
      <p>
        <a href="www.brandfi.co.ke"><h2 style="color: green; text-decoration: none;">BRAND-fi</h2></a>
      </p>
    </div>
  </div>
  <!-- Small modal -->


  <div class="footer">
    <h3>POWERED BY</h3>
    <a href="www.brandfi.co.ke"><h2 style="color: green; text-decoration: none;">BRAND-fi</h2></a>
  </div>
</div>
