<style>
    @media only screen and (max-width: 600px) {

    #img {
        padding-left: 100px;
    }
}
</style>
<div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 row img-responsive text-center">
            <div>
                <div class="col-sm-4"></div>
                <a class=" col-sm-4" href="#">
                    <br>
                    <img id="img" src="/img/logos/taylorgreyLogo.png" class="img-responsive" alt="">
                </a>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="text-center" style="font-family: 'Pattaya', sans-serif; font-size: 2em;">Welcome to Tayler Gray</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row text-center" style="margin-top: 0;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p class="text-center" style="font-family: 'Pattaya', sans-serif;">We are happy to provide you with free internet access. You are just 3 clicks away from unlimited browsing for your whole stay</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row img-responsive">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="content" class="text-center" style="background-color: hsla(120, 60%, 70%, 0.2); min-height: 200px;">
                <br>
                <form action="/auth/sms" method="post" class="form col-md-12 center-block">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" name="mobileNumber" placeholder="Mobile number Format: 07XXXXXXXX" pattern="07([0-9|9])(\d){7}" required>
                        <i class="icon-user icon-large"></i>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg">Connect</button>
                    </div>
                    <div class="form-group">
                       <p>By clicking connect above, you agree to our <span><a href="/terms" style="color: #26a69a; text-decoration: none;">terms of service</a></span></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div><br>
   <!--  <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 row text-center">
            <a href="/terms">
                <p >Terms of service</p>
            </a>
        </div>
        <div class="col-sm-4"></div>
    </div> -->
</div>
<script>
$(function() {
    $('body').css({ "background-image": 'none', "background-color": "white", });
});
</script>
