<style>
#connect {
	background-color: #616161;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-width: 2px;
    border-color: black;
    color: white;
}
</style>
<section id="page-container" class="row text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    	<div class="row">
    		<div class="col-sm-3"></div>
    		<div class="col-sm-6">
    			<img src="/img/k1.png" alt="">
    		</div>
    		<div class="col-sm-3"></div>
    	</div><br>
    	<div class="row text-center" style="border-color: white; margin-top: -30px;  border-width: 1px; margin-left: 10%; margin-right: 10%; " >  			
    			<img src="/img/betway.jpg" class="img-responsive" alt="" style="border-radius: 12px;">  		
    	</div><br>
    	<div class="row text-center" style=" border-color: white; margin-top: -15px; border-width: 1px; margin-left: 10%; margin-right: 10%; " >  			
    			<img src="/img/Saf2.jpg" class="img-responsive" alt="" style="border-radius: 12px;">  		
    	</div><br>
    	<div class="row text-center" style="border-color: white; border-width: 1px; margin-top: -15px; margin-left: 10%; margin-right: 10%; " >  			
    			<img src="/img/kcb.jpg" class="img-responsive" alt="" style="border-radius: 12px;">  		
    	</div><br>
    	<div class="row" style="margin-top: -15px;">
    		<button id="connect" class="btn btn-lg">SKIP & CONNECT</button>
    	</div>

    </div>
    <div class="col-sm-4"></div>
</section>