<style>
#page-container {
	background-image: url("/img/Saf.png");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;  
	
	/*width: 330px; height: 576px;*/
}
#connect {
	background-color: #616161;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-width: 2px;
    border-color: black;
    color: white;
}
</style>
<section   class="row text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" id="page-container">
    	<div>
    		<img src="/img/k1.png" alt="" style="border-radius: 12px;">
    	</div>
    	<div style="min-height: 400px;"></div>
    	<div class="row" style="margin-top: -15px;">
    		<button id="connect" class="btn btn-lg">CONNECT</button>
    	</div>
    </div>
    <div class="col-sm-4"></div>
</section>